* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    background: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .code_wrapper {
    flex: 0.4;
    height: 40%;
  }
  
  .preview_wrapper {
    flex: 0.6;
    height: 60%;
  }
  
  #code {
    height: 100%;
    overflow: hidden;
    color: #f00;
    font-size: 4vw;
    font-weight: 900;
    font-family: 'BenmoJianzi1033f6dca919bf5' !important;
  }
  
  .preview {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3px;
  }
  
  .actions>button {
    padding: 8px;
    margin: 2px 1vw;
    border: none;
    border-radius: 2px;
    background: rgb(7, 141, 146);
    cursor: pointer;
  }
  
  .actions>button:focus {
    outline: none;
  }
  
  .actions>button.active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
    background: rgba(226, 186, 9, 0.822)
  }